body{background: gray;}
.pierwszy:first-letter {
    font-size: 118pt;
    color: red;
}

.pierwszy {
    font-size: 21pt;
    color: yellow;
}

.drugi:first-letter {
    font-size: 117pt;
    color: golden;
}

.drugi {
    font-size: 18pt;
    color: yellow;
}

.csspiekny::first-letter {
    color: silver;
    font-size: 120pt;
}

.csspiekny {
    color: purple;
    font-size: 35pt;
}

.ostatniakapit:first-letter {
    font-size: 117pt;
}

.ostatniakapit:first-line {
    color: yellow;
}

.ostatniakapit {
    font-size: 20pt;
    color: darkblue;
    
}
