#ind{
    color: red;
}

A  
{ 
} 
A:link  
{ 
font-size: 18pt; 
text-decoration: none; 
color: blue; 
}

A:visited  
{ 
color: green; 
} 
A:hover  
{ 
color: red; 
text-decoration: underline; 
}

/*
• text-decoration: none; → dekoracja tekstu bez zmian 
• text-decoration: underline; → dekoracja tekstu z podkreśleniem 
• Artem Bochkovskyi */